<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit Movie</title>
  </head>
  <body>
    <h1>Edit movie</h1>
    <form action="/{{ movie.id }}/edit" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{ movie.title }}"><br>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="{{ movie.genre }}"><br>
      <label for="director">Director:</label>
      <input type="text" id="director" name="director" value="{{ movie.director }}"><br>
      <label for="actors">Actors:</label>
      <input type="text" id="actors" name="actors" value="{{ movie.actors }}"><br>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" value="{{ movie.year }}"><br>
      <label for="runtime">Runtime (Minutes):</label>
      <input type="number" id="runtime" name="runtime" value="{{ movie.runtime }}"><br>
      <label for="rating">IMDB Rating:</label>
      <input type="number" step="0.1" id="rating" name="rating" value="{{ movie.rating }}"><br>
      <label for="votes">Votes:</label>
      <input type="number" id="votes" name="votes" value="{{ movie.votes }}"><br>
      <label for="overview">Overview:</label>
      <textarea id="overview" name="overview">{{ movie.overview }}</textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
